a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.list {
  display: flex;
  height: auto;
  position: relative;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  p {
    margin: 0;
    word-wrap: break-word;
    width: min-content;
    min-width: 200px;
    text-align: center;
  }
  &:hover {
    background: rgb(235, 235, 235);
  }
  &.active {
  display: flex;
  justify-content: space-between;
  background: #6c757d;
  color: #fff;
}
}


