a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.list {
  display: flex;
  height: auto;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  &:hover {
    border-radius: 10px;
    background: rgb(235, 235, 235);
  }
  &.active {
  display: flex;
  justify-content: space-between;
  background: #6c757d;
  color: #fff;
  border-radius: 10px;
}
}


