a {
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.list {
  display: flex;
  height: auto;
  position: relative;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  p {
    margin: 0;
    word-wrap: break-word;
    width: min-content;
    min-width: 200px;
    text-align: center;
  }
  &:hover {
    background: rgb(235, 235, 235);
  }
  &.active {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(120deg, darkmagenta, crimson, orange);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position 0.5s;
    border: 0;
    color: white;
    cursor: pointer;
  }
}
