$primary-color: #0080ff;
$secondary-color: #dcdcdc;
$danger-color: #eb3636;
$transition-border-color: all 0.4s ease-in-out;

.create_form {
  display: flex;
  flex-direction: column;
  width: 100%;
  * {
    width: 100%;
    box-sizing: border-box;
  }

  .show_form {
    .form_title {
      &::after {
        content: "";
        transform: rotate(-45deg);
      }
    }
    .form_body {
      visibility: visible;
      &.list_body {
        height: 90px;
      }
      &.task_body {
        height: 190px;
      }
    }
  }

  .form_body {
    background-color: #fff;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.5s ease;
    padding: 0 5px;
  }

  .form_title {
    display: flex;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    justify-content: space-between;
    cursor: pointer;
    &::after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-right: 2px solid #333;
      border-top: 2px solid #333;
      transform: rotate(135deg);
      margin: 0 8px;
      transition: $transition-border-color;
    }
    &:hover {
      background: rgb(235, 235, 235);
    }
  }

  .emptyInput {
    position: relative;
    &:after {
      content: "please enter text";
      position: absolute;
      top: 37px;
      left: 5px;
      color: $danger-color;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
    }
    &.show {
      &:after {
        opacity: 1;
        visibility: visible;
      }
      .name_input {
        border: 1px solid $danger-color;
        border-bottom: 2px solid $danger-color !important;
        transition: $transition-border-color;
      }
    }
  }

  .name_input {
    position: relative;
    margin-top: .5rem;
    padding: 0.5rem;
    width: 100%;
    border: 1px solid transparent;
    border-bottom: 2px solid $secondary-color;
    transition: $transition-border-color;
    &:focus {
      outline: none;
      border-bottom: 2px solid $primary-color;
    }
  }

  .taskDescription_input {
    margin-top: .5rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid $secondary-color;
    transition: $transition-border-color;
    &:focus {
      outline: none;
      border-bottom: 2px solid $primary-color;
    }
  }

  .list_selection {
    margin-top: .5rem;
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-bottom: 2px solid $secondary-color;
    transition: $transition-border-color;
    &:focus {
      outline: none;
      border-bottom: 2px solid $primary-color;
    }
  }

  .form_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .date_selection {
      padding: 0.5rem;
      border: none;
      max-width: 115px;
      border-bottom: 2px solid $secondary-color;
      transition: $transition-border-color;
      &:focus {
        outline: none;
        border-bottom: 2px solid $primary-color;
      }
    }
  }
  .createTask_button {
    background: linear-gradient(120deg, darkmagenta, crimson, orange);
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 0.5rem;
    float: right;
    max-width: 100px;
    border-radius: 0.5rem;
    margin-top: .5rem;
    &:hover {
      background-position: 0 0;
    }
    &:active {
      transform: translateY(1px);
    }
  }
}
